<section class="references-container">
  <div class="references-content">
    <h2 class="fontFiraCode-700 pri-col">What my colleagues say about me</h2>
    <div class="references-carousel">
      <div class="carousel-track">
        @for (reference of references; track $index) { @if (isVisible($index)) {
        <div
          class="reference-container"
          [ngClass]="{
            active: $index === currentIndex,
            left: $index === getLeftIndex(),
            right: $index === getRightIndex()
          }"
        >
          <p>{{ reference.text }}</p>
          <h4>{{ reference.name }}</h4>
          <span>{{ reference.status }}</span>
        </div>
        } }
      </div>
    </div>

    <div class="carousel-controls">
      <img
        src="/assets/icons/arrow_left.svg"
        alt="Previous"
        class="carousel-arrow left-arrow"
        (click)="prevReference()"
      />
      <div class="carousel-indicators">
        @for (reference of references; track $index) {
        <span
          class="dot"
          [ngClass]="{ active: $index === currentIndex }"
        ></span>
        }
      </div>
      <img
        src="/assets/icons/arrow_right.svg"
        alt="Next"
        class="carousel-arrow right-arrow"
        (click)="nextReference()"
      />
    </div>
  </div>
</section>
