<section class="references-container">
  <div class="references-content">
    <h2 class="fontFiraCode-700 pri-col fs-32">{{ "references.title" | translate }}</h2>
    <div class="references-carousel">
      <div
        class="carousel-track"
        [ngClass]="{
          animate: animate,
          'animate-prev': isAnimatingPrev,
          'animate-next': isAnimatingNext
        }"
      >
        @for (reference of getVisibleReferences(); track $index) {
        <div
          class="reference-container"
          [ngClass]="{
            active: $index === 1,
            left: $index === 0,
            right: $index === 2
          }"
        >
          <div class="reference-content">
            <p class="fontKarla fs-14 sec-col">{{ reference.text }}</p>
            <div class="reference-author">
              <div class="line"></div>
              <p class="fontKarla fs-12 sec-col no-wrap">{{ reference.name }} - {{ reference.status }}</p>
            </div>
          </div>
          @if ($index === 1) {
            <img class="quotes" src="/assets/icons/quotes.svg" alt="quotes">
          }
        </div>
        }
      </div>
    </div>

    <div class="carousel-controls">
      <img
        src="/assets/icons/arrow_back_white.svg"
        alt="Previous"
        class="carousel-arrow left-arrow"
        (click)="prevReference()"
      />
      <div class="carousel-indicators">
        @for (reference of references; track $index) {
        <span
          class="dot"
          [ngClass]="{ active: $index === currentIndex }"
        ></span>
        }
      </div>
      <img
        src="/assets/icons/arrow_forward_white.svg"
        alt="Next"
        class="carousel-arrow right-arrow"
        (click)="nextReference()"
      />
    </div>
  </div>
</section>
