<section class="about-me-container">
  <div class="about-images">
    <img src="./assets/img/photo.png" alt="Image 1" class="image image-1" />
    <img src="./assets/img/photo_bg.svg" alt="Image 2" class="image image-2" />
  </div>

  <div class="info-container">
    <h3 class="info-heading fontKarla">Who I Am</h3>
    <div class="info-box-container">
      <h1 class="info-title fontFiraCode-700">About me</h1>
      <p class="info-paragraph fontKarla">
        Hi, I’m a german speaking Frontend Developer based in Munich. Motivated
        by the limitless opportunities within IT, I am excited about crafting
        visually captivating and intuitive websites and applications.
      </p>
      <div class="details-container">
        <div class="detail-item">
          <img
            src="./assets/icons/location.svg"
            alt="Info 1 Image"
            class="detail-image"
          />
          <p class="detail-text fontKarla">
            Flexible in terms of working environments, I can work effectively
            both on-site in Essen and remotely.
          </p>
        </div>
        <div class="detail-item">
          <img
            src="./assets/icons/cognition.svg"
            alt="Info 2 Image"
            class="detail-image"
          />
          <p class="detail-text fontKarla">
            I am open-minded and always looking for personal challenges to
            constantly improve my knowledge and skills.
          </p>
        </div>
        <div class="detail-item">
          <img
            src="./assets/icons/releases.svg"
            alt="Info 3 Image"
            class="detail-image"
          />
          <p class="detail-text fontKarla">
            In my profession, programming isn't just about writing code; it's a
            creative form of problem-solving. I take pride in my ability to
            distill complex technical challenges into simple, user-friendly
            solutions. This way, I help you achieve your goals and bring your
            visions to life.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
