<section id="about" class="about-me-container">
  <div class="about-images">
    <img src="./assets/img/photo.png" alt="Image 1" class="image image-1" />
    <img src="./assets/img/photo_bg.svg" alt="Image 2" class="image image-2" />
  </div>

  <div class="info-container">
    <h3 class="info-heading fontKarla-700">
      {{ "about.heading" | translate }}
    </h3>
    <div class="info-box-container">
      <h1 id="aboutTitle" class="info-title fontFiraCode-700">
        {{ "about.title" | translate }}
      </h1>
      <p id="aboutInfo" class="info-paragraph fontKarla">
        {{ "about.intro" | translate }}
      </p>
      <div class="details-container">
        <div class="detail-item">
          <img
            src="./assets/icons/location.svg"
            alt="Info 1 Image"
            class="detail-image"
          />
          <p id="aboutDetails" class="detail-text fontKarla">
            {{ "about.details.location" | translate }}
          </p>
        </div>
        <div class="detail-item">
          <img
            src="./assets/icons/cognition.svg"
            alt="Info 2 Image"
            class="detail-image"
          />
          <p id="aboutDetails" class="detail-text fontKarla">
            {{ "about.details.mindset" | translate }}
          </p>
        </div>
        <div class="detail-item">
          <img
            src="./assets/icons/releases.svg"
            alt="Info 3 Image"
            class="detail-image"
          />
          <p id="aboutDetails" class="detail-text fontKarla">
            {{ "about.details.passion" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
