<section class="about-me-container">
    <div class="about-images">
      <img src="./assets/img/photo.png" alt="Image 1" class="image image-1" />
      <img src="./assets/img/photo_bg.svg" alt="Image 2" class="image image-2" />
    </div>
  
    <div class="info-container">
      <h3 class="info-heading fontKarla">Who I Am</h3>
      <div class="info-box-container">
        <h1 class="info-title fontFiraCode-700">About me</h1>
        <p class="info-paragraph fontKarla">
          This is where you can describe yourself, your experience, and your passion.
        </p>
        <div class="details-container">
          <div class="detail-item">
            <img src="./assets/icons/location.svg" alt="Info 1 Image" class="detail-image" />
            <p class="detail-text fontKarla">Description for Info 1</p>
          </div>
          <div class="detail-item">
            <img src="./assets/icons/cognition.svg" alt="Info 2 Image" class="detail-image" />
            <p class="detail-text fontKarla">Description for Info 2</p>
          </div>
          <div class="detail-item">
            <img src="./assets/icons/releases.svg" alt="Info 3 Image" class="detail-image" />
            <p class="detail-text fontKarla">Description for Info 3</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  