<header class="header">
  <div class="header-content">
    <div class="menu">
      <img
        class="img-lang"
        [ngClass]="{
          'default-img': isDefaultImage,
          'alt-img': !isDefaultImage
        }"
        [src]="imgSrc"
        (click)="toggleImage()"
        alt="lang-btn"
      />
      <span class="fontFiraCode" (click)="navigateAndScroll('about')">{{
        "header.about" | translate
      }}</span>
      <span class="fontFiraCode" (click)="navigateAndScroll('skills')">{{
        "header.skills" | translate
      }}</span>
      <span class="fontFiraCode" (click)="navigateAndScroll('projects')">{{
        "header.projects" | translate
      }}</span>
    </div>
    <div (click)="navigateAndScroll('hero')" class="logo">
      <img class="pb-logo" src="/assets/img/pb-logo.svg" alt="logo" />
    </div>
    <div class="burger-menu" (click)="toggleMenu()">
      @if (!isMenuOpen) {
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
      } @if (isMenuOpen) {
      <div class="close-icon">
        <span>&#10005;</span>
      </div>
      }
    </div>
  </div>
  <div class="dark-overlay" [ngClass]="{ active: isMenuOpen }"></div>
  <div class="overlay" [ngClass]="{ active: isMenuOpen }">
    <ul class="overlay-menu">
      <li (click)="navigateAndScroll('about')">
        {{ "header.about" | translate }}
      </li>
      <li (click)="navigateAndScroll('skills')">
        {{ "header.skills" | translate }}
      </li>
      <li (click)="navigateAndScroll('projects')">
        {{ "header.projects" | translate }}
      </li>
      <img
        class="img-lang img-lang-burger"
        [ngClass]="{
          'default-img': isDefaultImage,
          'alt-img': !isDefaultImage
        }"
        [src]="imgSrc"
        (click)="toggleImage()"
        alt="lang-btn"
      />
    </ul>
  </div>
</header>
