<section class="hero-section">
  <div class="headline-section">
    <p class="fontFiraCode">Frontend Developer</p>
    <h1 class="fontKarla-700">Philipp Buckstegen</h1>
    <div class="hero-btn">
      <button class="btn fontKarla">Check my work</button>
      <button class="btn fontKarla">Contact me</button>
    </div>
  </div>
  <div class="ticker">
    <div class="ticker-content">
      <span class="fontKarla"
        >-- Available for remote work -- Frontend Developer -- Based in NRW --
        Open to work -</span
      >
      <span class="fontKarla"
        >- Available for remote work -- Frontend Developer -- Based in NRW --
        Open to work</span
      >
    </div>
  </div>
  <div class="circle-container">
    <div class="circle">
      <img src="./assets/img/hero_rectangle.svg" alt="rectangle" />
      <div class="arrow">
        <img src="./assets/img/hero_arrow.svg" alt="arrow" />
      </div>
    </div>
    <div class="vertical-line"></div>
  </div>
</section>
