<section class="projects-container" id="projects">
  <div class="featured-projects mb-20">
    <p class="fontKarla-700 info-heading">
      {{ "projects.portfolio" | translate }}
    </p>
    <h1 id="projectTitle" class="info-title fontFiraCode-700">
      {{ "projects.featuredTitle" | translate }}
    </h1>
    <p id="projectInfo" class="fontKarla fs-18 sec-col mb-20 info-description">
      {{ "projects.description" | translate }}
    </p>
  </div>

  <div class="projects">
    <div id="projectList" class="projects-list">
      @for (project of projects; track $index) {
      <div id="projectItem" class="project-item" (click)="openOverlay(project)">
        <h3 id="projectSingleTitle" class="project-title sec-col fs-24 fontFiraCode-700">{{ project.title }}</h3>
        <p id="projectSkills" class="fontKarla fs-18 sec-col">
          @for (skill of project.usedSkills; track $index) {
          <span>{{ skill }}</span>
          @if (skill !== project.usedSkills[project.usedSkills.length - 1]) {
          <span class="pri-col"> | </span>
          } }
        </p>
        <div class="project-images">
          <img
            id="projectImage"
            src="{{ project.image }}"
            alt="project-image"
          />
          <img
            id="bgImage"
            src="{{ project.bgImage }}"
            alt="project-image-bg"
          />
        </div>
      </div>
      }
    </div>
  </div>
  <div class="overlay-bg" [ngClass]="{ active: isOverlayOpen }"></div>

  <!-- Render overlay -->
  <div class="project-overlay" [ngClass]="{ active: isOverlayOpen }">
    <div id="overlayContent" class="overlay-content">
      <div id="overlayLeft" class="overlay-left">
        <p class="count fontKarla-700 pri-col">{{ selectedProject?.count }}</p>
        <p class="title fontFiraCode-700 sec-col">
          {{ selectedProject?.title }}
        </p>
        <p class="project-about fontFiraCode-700 fs-24 pri-col">
          {{ "projects.overlay.projectAbout" | translate }}
        </p>
        <p class="description fontKarla fs-18 sec-col">
          {{ selectedProject?.description }}
        </p>
        <div class="overlay-skills">
          @for (item of getCombinedSkillsAndIcons(); track $index) {
          <div class="icons-and-skills">
            <img src="{{ item.icon }}" alt="Overlay Skill" />
            <span class="fontKarla sec-col">{{ item.skill }}</span>
          </div>
          }
        </div>
        <div id="overlayBtns" class="overlay-btns">
          <button class="overlayBtn btn fontKarla">
            GitHub
            <img src="/assets/icons/arrow_outward.svg" alt="GitHub Arrow" />
          </button>
          <button class="overlayBtn btn fontKarla">
            Live Test
            <img src="/assets/icons/arrow_outward.svg" alt="Live Test Arrow" />
          </button>
          <div id="nextProjectMobile" class="next-project-mobile" (click)="showNextProject()">
            <span class="fontKarla fs-18 pri-col">{{
              "projects.overlay.nextProject" | translate
            }}</span>
            <img src="/assets/icons/arrow_forward.svg" alt="Next Project" />
          </div>
        </div>
      </div>

      <div id="overlayRight" class="overlay-right">
        <div class="close-btn" (click)="closeOverlay()">
          <img src="/assets/icons/close_small.svg" alt="close" />
        </div>
        <img src="{{ selectedProject?.image }}" alt="Project Overlay Image" />
        <div class="next-project" (click)="showNextProject()">
          <span class="fontKarla fs-18 pri-col">{{
            "projects.overlay.nextProject" | translate
          }}</span>
          <img src="/assets/icons/arrow_forward.svg" alt="Next Project" />
        </div>
      </div>
    </div>
  </div>
</section>
