.projects-container {
  padding: 96px 64px;
  background-color: var(--background-color);

  .featured-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .info-heading {
      font-size: 24px;
      color: var(--primary-color);
      margin-bottom: 20px;
    }

    .info-title {
      font-size: 64px;
      line-height: 64px;
      letter-spacing: -1px;
      margin-bottom: 28px;
      color: var(--primary-color);
    }
  }

  .projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 880px;

    .project-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 24px;
      width: 90%;
      border-top: 1px solid var(--primary-color);
      &:hover {
        cursor: pointer;
        background-color: var(--background-color-green);
      }
    }

    .project-item:last-child {
      border-bottom: 1px solid var(--primary-color);
    }
  }
}
