<section class="contact-container">
  <div class="contact-left"></div>
  <div class="contact-right">
    <div class="contact-form">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="name">What's your name?</label>
          <input
            class="mt-8"
            type="text"
            id="name"
            formControlName="name"
            placeholder="Your name goes here"
            required
          />
          @if (contactForm.controls['name'].invalid &&
          contactForm.controls['name'].touched) {
          <span class="error-message fontKarla fs-12"
            >Please enter your name</span
          >
          }
        </div>

        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="email">What's your email?</label>
          <input
            class="mt-8"
            type="email"
            id="email"
            formControlName="email"
            placeholder="youremail@email.com"
            required
          />
          @if (contactForm.controls['email'].invalid &&
          contactForm.controls['email'].touched) {
          <span class="error-message fontKarla fs-12"
            >Please enter a valid email address</span
          >
          }
        </div>

        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="message">How can I help you?</label>
          <textarea
            class="mt-8"
            id="message"
            formControlName="message"
            rows="5"
            placeholder="Hello Philipp, I am interested in..."
            required
            minlength="4"
          ></textarea>
          @if (contactForm.controls['message'].invalid &&
          contactForm.controls['message'].touched) {
          <span class="error-message fontKarla fs-12"
            >Your message must be at least 4 characters long</span
          >
          }
        </div>

        <div class="form-group">
          <label class="checkbox fontKarla sec-col fs-12">
            <input type="checkbox" formControlName="privacyPolicy" required />
            I agree to the Privacy Policy
          </label>
          @if (contactForm.controls['privacyPolicy'].invalid &&
          contactForm.controls['privacyPolicy'].touched) {
          <span class="error-message fontKarla fs-12"
            >You must agree to the Privacy Policy</span
          >
          }
        </div>

        <div class="say-hello-btn">
          <button
            id="sayHelloBtn"
            type="submit"
            class="btn fontKarla"
            [disabled]="contactForm.invalid"
          >
            Say Hello
          </button>
          @if (contactForm.invalid) {
            <div class="validation-overlay" (click)="triggerValidation()"></div>
          }
        </div>
        @if (formSubmitted) {
            <p class="success-message fontKarla fs-14 sec-col">
              Thank you! Your message has been sent successfully.
            </p>
        }
      </form>
    </div>
  </div>
</section>
