<section class="contact-container" id="contact">
  <div class="contact-left">
    <div class="mb-20 content-left">
      <p class="fontKarla-700 info-heading">
        {{ "contact.title" | translate }}
      </p>
      <h1 id="contactTitle" class="info-title fontFiraCode-700">
        {{ "contact.subtitle" | translate }}
      </h1>
      <p class="fontFiraCode-700 pri-col fs-24 mb-20">
        {{ "contact.question" | translate }}
      </p>
      <p id="contactIntro" class="fontKarla fs-18 sec-col mb-20">
        {{ "contact.intro" | translate }}
      </p>
      <p id="contactCta" class="fontKarla fs-18 sec-col mb-20">
        {{ "contact.cta0" | translate }}
        <span class="fontKarla-700 pri-col">{{
          "contact.cta1" | translate
        }}</span>
      </p>
    </div>
  </div>
  <div class="contact-right">
    <div class="contact-form contact-right">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="name">{{
            "contact.form.name.label" | translate
          }}</label>
          <input
            class="mt-4"
            type="text"
            id="name"
            formControlName="name"
            [placeholder]="
              contactForm.controls['name'].invalid &&
              contactForm.controls['name'].touched
                ? ('contact.form.name.error' | translate)
                : ('contact.form.name.placeholder' | translate)
            "
            required
          />
        </div>

        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="email">{{
            "contact.form.email.label" | translate
          }}</label>
          <input
            class="mt-4"
            type="email"
            id="email"
            formControlName="email"
            [placeholder]="
              contactForm.controls['email'].invalid &&
              contactForm.controls['email'].touched
                ? ('contact.form.email.error' | translate)
                : ('contact.form.email.placeholder' | translate)
            "
            required
          />
        </div>

        <div class="form-group">
          <label class="fontFiraCode pri-col fs-24" for="message">{{
            "contact.form.message.label" | translate
          }}</label>
          <textarea
            class="mt-4"
            id="message"
            formControlName="message"
            rows="5"
            [placeholder]="
              contactForm.controls['message'].invalid &&
              contactForm.controls['message'].touched
                ? ('contact.form.message.error' | translate)
                : ('contact.form.message.placeholder' | translate)
            "
            required
            minlength="4"
          ></textarea>
        </div>

        <div class="form-group">
          <label id="privacyPolicyInfo" class="checkbox fontKarla sec-col fs-12 mt-4">
            <input type="checkbox" formControlName="privacyPolicy" required />
            <span
              >{{ "contact.form.privacyPolicy.label0" | translate }}
              <a [routerLink]="['/privacy-policy']"
                ><span class="fontFiraCode pri-col">{{
                  "contact.form.privacyPolicy.label1" | translate
                }}</span></a
              >
              {{ "contact.form.privacyPolicy.label2" | translate }}</span
            >
          </label>
          <span
            class="error-message fontKarla fs-12"
            [ngClass]="{
              visible:
                contactForm.controls['privacyPolicy'].invalid &&
                contactForm.controls['privacyPolicy'].touched
            }"
          >
            {{ "contact.form.privacyPolicy.error" | translate }}
          </span>
        </div>

        <div class="say-hello-btn">
          <button
            id="sayHelloBtn"
            type="submit"
            class="btn fontKarla"
            [disabled]="contactForm.invalid"
          >
            {{ "contact.form.submit" | translate }}
          </button>
          @if (contactForm.invalid) {
          <div class="validation-overlay" (click)="triggerValidation()"></div>
          }
        </div>

        @if (formSubmitted) {
        <p class="success-message fontKarla fs-14 sec-col">
          {{ "contact.form.success" | translate }}
        </p>
        }
      </form>
    </div>
  </div>
</section>
