.skill-set-container {
  background: url("/assets/img/skill_set_background.png") no-repeat center
    center;
  background-color: var(--background-color-green);
  background-size: cover;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 96px 64px;
  gap: 32px;

  .info-container {
    width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .info-heading {
      font-size: 24px;
      color: var(--primary-color);
      margin-bottom: 20px;
    }

    .info-box-container {
      width: 100%;
      border: 1px solid var(--primary-color);
      border-radius: 30px;
      padding: 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      background-color: var(--primary-color-transparent);

      .info-title {
        font-size: 64px;
        line-height: 64px;
        margin-bottom: 28px;
        color: var(--primary-color);
      }

      .info-paragraph {
        font-size: 18px;
        line-height: 21.6px;
        color: var(--secondary-color);
        margin-bottom: 32px;
      }

      .another-skill {
        .detail-text {
          font-size: 24px;
          line-height: 28.8px;
          color: var(--secondary-color);
          margin-bottom: 18px;
          > span {
            color: var(--primary-color);
          }
        }
      }
    }
  }

  /* Grid layout for icons */
  .skills-icons {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 52px;

    .icon-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 32px 20px;
      justify-items: center;
      width: 100%;

      .icon-item {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: default;
        position: relative;

        img {
          width: auto;
          height: 56px;
          object-fit: contain;
          transition: transform 0.25s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }

        .icon-text {
          font-size: 18px;
          line-height: 21.6px;
          letter-spacing: -0.6px;
          color: var(--secondary-color);
          margin-top: 12px;
          text-align: center;
        }

        /* Growth Mindset Sprechblase */
        .growth-mindset {
          position: absolute;
          bottom: 96%; /* Positioniere die Sprechblase über dem Icon */
          left: 84%;
          transform: translateX(-50%);
          background-color: #fff; /* Weißer Hintergrund */
          color: var(--primary-color); /* Dunkler Text */
          width: 150px; /* Feste Breite */
          height: 112px; /* Feste Höhe */
          border-radius: 16px; /* Abgerundete Ecken */
          padding: 12px; /* Innenabstand */
          font-size: 16px;
          white-space: normal;
          opacity: 0; /* Unsichtbar bis Hover */
          transition: opacity 0.25s ease-in-out;
          pointer-events: none; /* Verhindert, dass die Sprechblase Maus-Ereignisse blockiert */
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);

          /* Dreieck unten links an der Sprechblase */
          &::after {
            content: "";
            position: absolute;
            bottom: -16px; /* Positioniere das Dreieck unterhalb */
            left: 48px; /* Links platzieren */
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 16px 0 16px; /* Breite und Höhe des Dreiecks */
            border-color: #fff transparent transparent transparent; /* Dreieck in Weiß */
            border-bottom-left-radius: 6px; /* Leicht abgerundete Kante am Dreieck */
          }
        }

        /* Sprechblase wird bei Hover sichtbar */
        &:hover .growth-mindset {
          opacity: 1;
        }

        .special-interest-icons {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 28px;
          margin-top: 16px;

          .react-vue-icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 4px;
            & p {
              text-align: center;
              font-size: 14px;
            }
            & img {
                width: 32px;
                height: auto;
            }
          }
        }
      }
    }
  }
}
