<section class="skill-set-container" id="skills">
  <div class="info-container">
    <h3 class="info-heading fontKarla-700">
      {{ "skills.heading" | translate }}
    </h3>
    <div class="info-box-container">
      <h1 class="info-title fontFiraCode-700">
        {{ "skills.title" | translate }}
      </h1>
      <p class="info-paragraph fontKarla">{{ "skills.intro" | translate }}</p>
      <div class="another-skill">
        <p class="detail-text fontFiraCode-700">
          {{ "skills.anotherSkill.question" | translate }}
          <span class="pri-col">
          {{ "skills.anotherSkill.question1" | translate }}
          </span>
        </p>
        <p class="info-paragraph fontKarla">
          {{ "skills.anotherSkill.contactMessage" | translate }}
        </p>
        <button class="btn fontKarla" (click)="navigateAndScroll('contact')">
          {{ "skills.anotherSkill.button" | translate }}
        </button>
      </div>
    </div>
  </div>

  <div class="skills-icons">
    <div class="icon-grid">
      <div class="icon-item">
        <img src="./assets/icons/Javascript.svg" alt="JS" />
        <p class="icon-text fontFiraCode">JavaScript</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/typescript.svg" alt="TS" />
        <p class="icon-text fontFiraCode">TypeScript</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Angular.svg" alt="Angular" />
        <p class="icon-text fontFiraCode">Angular</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/html.svg" alt="HTML" />
        <p class="icon-text fontFiraCode">HTML</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/css.svg" alt="CSS" />
        <p class="icon-text fontFiraCode">CSS</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/sass.svg" alt="CSS" />
        <p class="icon-text fontFiraCode">SASS/SCSS</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Firebase.svg" alt="Firebase" />
        <p class="icon-text fontFiraCode">Firebase</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/bootstrap.svg" alt="Bootstrap" />
        <p class="icon-text fontFiraCode">Bootstrap</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/figma.svg" alt="Figma" />
        <p class="icon-text fontFiraCode">Figma</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/rest-api.svg" alt="Rest-API" />
        <p class="icon-text fontFiraCode">Rest-API</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/git.svg" alt="Git" />
        <p class="icon-text fontFiraCode">GIT</p>
      </div>
      <div class="icon-item">
        <img src="./assets/icons/scrum.svg" alt="Scrum" />
        <p class="icon-text fontFiraCode">Scrum</p>
      </div>
      <div id="growthMindset" class="icon-item">
        <img src="./assets/icons/growth_mindset.svg" alt="Growth Mindset" />
        <p class="icon-text fontFiraCode">Growth<br />mindset</p>
        <div class="growth-mindset">
          <p class="fontKarla">I have a special interest in learning</p>
          <div class="special-interest-icons">
            <div class="react-vue-icon">
              <img src="./assets/icons/react.svg" alt="react" />
              <p class="fontKarla-700">React</p>
            </div>
            <div class="react-vue-icon">
              <img src="./assets/icons/vue.svg" alt="vue" />
              <p class="fontKarla-700">Vue Js</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
