<section class="skill-set-container">
  <div class="info-container">
    <h3 class="info-heading fontKarla-700">Technologies</h3>
    <div class="info-box-container">
      <h1 class="info-title fontFiraCode-700">Skill Set</h1>
      <p class="info-paragraph fontKarla">
        My journey has involved working on diverse projects, employing a range
        of frontend technologies and concepts. I am open to embracing new
        technologies and methodologies to Continously enhance my skills and stay
        ahead in the ever-evolving landscape of web development.
      </p>
      <div class="another-skill">
        <p class="detail-text fontFiraCode-700">
          You need <span>another skill?</span>
        </p>
        <p class="info-paragraph fontKarla">
          Feel free to contact me. I look forward to expanding on my previous
          knowledge.
        </p>
        <button class="btn fontKarla">Let’s Talk</button>
      </div>
    </div>
  </div>

  <div class="skills-icons">
    <div class="icon-grid">
      <div class="icon-item">
        <img src="./assets/icons/html.svg" alt="HTML" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/html.svg" alt="CSS" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Javascript.svg" alt="JS" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/angular.svg" alt="TS" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Angular.svg" alt="Angular" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Firebase.svg" alt="Firebase" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/html.svg" alt="HTML" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/html.svg" alt="CSS" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/Javascript.svg" alt="JS" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/git.svg" alt="Git" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/scrum.svg" alt="Scrum" />
      </div>
      <div class="icon-item">
        <img src="./assets/icons/growth_mindset.svg" alt="Growth Mindset" />
      </div>

      <!-- Füge weitere Icons hinzu -->
    </div>
  </div>
</section>
