* {
  margin: 0;
}

body {
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

// FONTS-------------------------------------------------

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/fira-code-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/fira-code-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* karla-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/karla-v31-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/karla-v31-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* karla-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  src: url("./assets/fonts/karla-v31-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

// -------------------------------------------------FONTS END

.fontKarla-800 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
}

.fontKarla-700 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
}

.fontKarla {
  font-family: "Karla";
  font-style: normal;
  font-weight: 400;
}

.fontFiraCode {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
}

.fontFiraCode-700 {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 700;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
  line-height: 21.6px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.sec-col {
  color: var(--secondary-color);
}

.pri-col {
  color: var(--primary-color);
}

.mt-8 {
  margin-top: 8px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mb-28 {
  margin-bottom: 28px;
}

.no-wrap {
  white-space: nowrap;
}

:root {
  --primary-color: #3dcfb6;
  --primary-color-transparent: #3dcfb61a;
  --secondary-color: white;
  --background-color: #1c1c1c;
  --background-color-green: #08463b;
  //--text-color: white;
  //--link-color: #2980b9;
}

.btn {
  padding: 0 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 100px;
  height: 48px;
  color: var(--secondary-color);
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    img {
      transform: translate(2px, -2px);
      transition: transform 0.3s ease-in-out;
    }
  }
  &:disabled {
    border: 1px solid grey;
    color: grey;
    cursor: default;
  }

  img {
    width: 12px;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
}
